html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(227, 223, 223);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
}

#imc-form {
  min-width: 30rem;
  max-width: 100rem;
  padding: 6rem 4rem;
  margin: 10vh auto;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  max-height: 100vh;

  background-color: white;
}

#Resultado {
  background-color: rgb(227, 223, 223);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  width: 98%;
  padding: 1rem;
  border-radius: 2rem;
}

#Resultado p {
  font-size: 1.5rem;
  line-height: 1rem;
}

label {
  margin: 0.5rem 0 0.5rem 0;
  display: block;
  font-size: 1.6rem;
}

input {
  border: solid 0.2rem rgb(183, 183, 183);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  display: inline;
  width: 100%;
  border-radius: 1rem;
  height: 2.3rem;
}

button {
  width: 100%;
  margin: 2rem 0 0.5rem 0;
  border-radius: 2rem;
  height: 4rem;
  border: solid 0.2rem blue;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1)
  );
  color: white;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

button:hover {
  background-image: none;
  background-color: blue;
  border: solid 0.1rem #f4f4f4;
}

.error-Mensagen {
  color: red;
  font-size: 1.3rem;
}
